/* #mainTopic {
    color: blue;
}

* {
    text-align: center;
}

h1 , h3 {
    font-family: Georgia;
}

.para {
    color: #fff;
    background-color: cornflowerblue;
}

button {
    color: azure;
    background-color: purple;
} */

/* part B */
button:hover {
    color: blue;
    background-color: yellow;
}

p:nth-of-type(2n+1) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

#yes:checked + label{
    color: darkgreen;
}