div {
    background-color: yellow;
}

/* form {
    background-color: red;
} */

input {
    background-color: inherit;
}
/* for desingning any website select color combination from "color palate" */